In [14]:
!pip install pymysql
!pip install ipython-sql
!pip install mysqlclient

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Requirement already satisfied: ipython-sql in /opt/miniconda3/lib/python3.7/site-packages (0.4.1)
Requirement already satisfied: six in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/miniconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: decorator in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (46.4.0.post20200518)
Requirement already satisfied: pickleshare in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: appnope in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: jedi>=0.16 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: pygments in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.7.1)
Requirement already satisfied: backcall in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.0.4)
Requirement already satisfied: matplotlib-inline in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /opt/miniconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/miniconda3/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: importlib-metadata in /opt/miniconda3/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.10.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/miniconda3/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.4.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/miniconda3/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/miniconda3/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/miniconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)
Requirement already satisfied: zipp>=0.5 in /opt/miniconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.2.0)
Requirement already satisfied: mysqlclient in /opt/miniconda3/lib/python3.7/site-packages (2.1.1)

In [15]:
import pandas as pd
import pymysql

df = pd.read_excel("CovidDeaths.xlsx", index_col=0)
df

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,0.026,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,2563.560,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,2567.731,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,2569.548,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
ZWE,Africa,Zimbabwe,2021-04-29,38235.0,44.0,31.000,1567.0,2.0,1.714,2572.508,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
ZWE,Africa,Zimbabwe,2021-04-30,38257.0,22.0,30.286,1567.0,0.0,1.571,2573.988,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [20]:
db_name = "test"
db_host = "localhost"
db_username = "root"
db_password = "123"

conn = pymysql.connect(host=db_host,
                       port=int(1045),
                       user='root',
                       passwd=db_password,
                       db=db_name)

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")

In [ ]:
df.to_sql('CovidDeath', cnn)

In [5]:
%load_ext sql

In [13]:
%sql sqlite:///jupyter_sql_tutorial.db

__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%%sql 
SELECT *
FROM CovidDeath

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])