In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.4 MB/s eta 0:00:0000:0100:02
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 4.8 MB/s eta 0:00:0000:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845515 sha256=4d56825fba6a605dfc73c77171708678a85d0198ee071d3a9cdff27818088c24
  Stored in directory: /Users/apple/Library/Caches/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [11]:
import pyspark
import pandas as pd

df = pd.read_csv('dataset/test1.csv')
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [10]:
df_pyspark = spark.read.csv('dataset/test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [16]:
df_pyspark = spark.read.option('header','true').csv('dataset/test1.csv')
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame